@import url(globals.css);


body{
   font-family: "poppins", sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 40px;

}

nav{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-items: center
}

h1{
    display: flex;
    align-items: center;
    color: var(--gray-title);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center; 
}

.logo-chess{
    width: 30px;
    height: auto;
    margin-left: 2px;
    fill: var(--gray-title);

    align-self: center;
}

.logo-create{
    width: 40px;
    height: 40px;
    
    fill: var(--primary-blue)
}

.options{
    display: flex;
    align-items: center;
    font-size: 1rem;
    justify-content: space-between;
    margin: 30px 0;
}

.options span{
    display: flex;
    align-items: center;
    gap: 10px;
}

.options p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--red);
    height: 35px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    
}

.heart-icon{
    width: 35px;
    height: auto;
    fill: var(--red);
}

.filters-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;


}

.filters-box button{
    width: max-content;
    height: 35px;
    padding: 0 16px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-blue);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.filters-box button:first-child{
    background-color: var(--black);
    box-shadow: 0 4px 0 #000000;
}

.filters-box button:nth-child(2){
    background-color: var(--red);
    box-shadow: 0 4px 0 #a82330; /* Sombra inferior sólida */

    
}

.filters-box button:nth-child(3){
    background-color: var(--yellow);
    box-shadow: 0 4px 0 #ffc41d; /* Sombra inferior sólida */

    
}

.filters-box button:last-child{
    background-color: var(--green);
    box-shadow: 0 4px 0 #298c75; /* Sombra inferior sólida */

}

/* codigo de la tabla de aqui para abajo */

.table-area{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-x: hidden; /* Desactiva el scroll horizontal */
    overflow-y: auto;      /* Habilita el scroll vertical */
    max-height: 400px;
    
}

.table-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    align-items: center;
    padding: 20px;
    border: 2px solid var(--gray-title);
}

.table-item p{
    font-size: 1.2rem;
    color:var(--black);
}

.table-item.high {
    background: var(--light-red);
}

.table-item.medium {
    background: var(--light-yellow);
}

.table-item.low {
    background: var(--light-green);
}

.item-actions {
    display: flex;
    gap: 20px;
}

.check-btn, .cross-btn {
    background-color: var(--blue-games);
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: color 0.2s;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
}

.check-btn:hover {
    color: white;
    background-color: #27ae60;
    border: 2px solid #00671d5c;
    transition: 0.5s;
}

.cross-btn:hover {
    color: white;
    background-color: #e74c3c;
    border: 2px solid #6707005c;
    transition: 0.5s;

}
/* ...existing code... */