@import url(globals.css);

body{
    width: 100vw;
    height: 100vh;
    font-family: "poppins", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.nav{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-items: center;
}

h1{
    display: flex;
    align-items: center;
    color: var(--gray-title);
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}

.logo-chess{
    width: 30px;
    height: auto;
    margin-left: 2px;
    fill: var(--gray-title);
    align-self: center;
}

.arrow{
    width: 40px;
    height: 40px;
    padding: 2px 5px;
    border-radius: 12px;
    background: var(--primary-blue);
    fill: white;
}

.section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-task{
    width: 50%;
    height: 50%;
    padding: 0 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.create-options{
    width: 100%;
    padding: 10px 0;
}

.create-options p{
    font-size: 1.4rem;
    color: var(--black);
    padding: 10px 0;
}

.create-input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--light-blue);
    font-size: 1.2rem;
    color: var(--gray-placeholder)
}

.create-input:focus{
    outline-color: var(--blue-check);
}

.filters-title{
    width: 100%;
    font-size: 1.4rem;
    padding: 10px 0;
}

.filters-boxs{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.btn-priority{
    padding: 12px 15px;
    text-align: center;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    color: #fbfbfb;
    cursor: pointer;
}

.red{
    background: var(--red);
}

.yellow{
    background: var(--yellow);
}

.green{
    background: var(--green);
}

.btn-priority:hover{
    box-shadow: 0 0 10px #888;
}

.btn{
    width: 100%;
    margin-top: 30px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fbfbfb;
    background: var(--primary-blue);
    cursor: pointer;
}

.btn:hover{
    background: var(--blue-check);
    box-shadow: 0 0 10px #888;
}